{{!-- Este es el diseño que va a tener la pagina de inicio. --}}
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur necessitatibus ullam magni earum itaque?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem amet commodi quam praesentium atque laborum nisi recusandae placeat eveniet illo.</p>
  <a href="https://www.youtube.com" class="btn btn-primary">Youtube</a>
</div> 