body{
    background: #1488cc;
}

.boton_msg{
    border: none;
    outline: none;
    height: 20px;
    background-color: transparent;
}

.cont_msg_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150;
}