
{{!-- Este es el diseño que van a tener los mensajes de errores. --}}
{{#if error}}
  <div class="alert alert-danger alert-dismissible fade show cont_msg_btn" role="alert">
    {{error}}
    <button type="button" class="boton_msg" data-bs-dismiss="alert" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show cont_msg_btn" role="alert">
    {{text}}
    <button type="button" class="boton_msg" data-bs-dismiss="alert" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
  </div>
{{/each}}